#container{
  width: 100%;
  align-content: center;
}

#big-logo{
  max-width: 60vw;
  max-height: 50vh;
  display: block;
  margin:auto;
}

p{
  font-size: xx-large;
  font-family: "Lucida Handwriting Italic", cursive;
  text-align: center;
  padding-top: 1em;
  max-width: 60vw;
  max-height: 50vh;
  display: block;
  margin:auto;
}
