.color-picker.shown {
  width: 316px;
  padding: 16px;
  position: absolute;
}

.color-wrapper {
  display: flex;
  height: 250px;
}

.input-wrapper {
  margin-top: 16px;
  display: flex;
  border-radius: 1px;
  border: 1px solid rgb(220, 220, 220);
  padding: 8px;
  height: 32px;
  justify-content: center;
}

.color-div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgb(220, 220, 220);
}

.text {
  flex: 1;
  font-family: 'Helvetica';
  line-height: 32px;
  color: black;
}

.color-picker {
 background:white;
 padding: 1cm;
 border-style: solid;
 border-color: dimgrey;
 margin-right: -2cm;
 box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
