.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
        color: #000;
        font-size: 1.5em;
        font-family: "Lucida Handwriting Italic", cursive;
        text-align: center;
    }
}

.icon {
  margin-left: 6px;
  height: 1em;
}

.edit-icon {
    height: 0.6em;
}

.save-icon {
  height: 1.5em;
  position: fixed;
}

.icon:hover {
  cursor: pointer;
}

/* Style buttons */
.btn {
  background-color: #c01722;
  border: none;
  color: white;
  margin-top: -6px;
  padding: 10px 14px;
  font-size: 12px;
  cursor: pointer;
}

.btn:hover {
  background-color: #dbc818;
}

.lanes {
    padding: 1rem;
    background-color: antiquewhite;

    border: 0;
    border-radius: 0;

    margin-left: 5%;
    margin-right: 5%;
}

.lanesContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    // justify-content: center;

    gap: 1rem;
    cursor: grab;
    overflow-x: scroll;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 /* source: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
.lanesContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
/* source: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
.lanesContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
