.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
        color: #000;
        font-size: 1em;
        font-family: "Lucida Handwriting Italic", cursive;
        text-align: center;
    }

}


.icon {
    height: 0.9em;
}

.edit-icon {
    height: 0.6em;
}

.icon:hover {
  cursor: pointer;
}


.container {
    padding-top: 3%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;

    .container-item {
        background-color: #e6e6e6;
        margin: 2%;
    }
}
