<div
  class="card"
  (focusout)="setWriteMode(false)"
  [class.dark]="dark"
  [style.background-color]="data.color"
>
  <div
    [hidden]="writemode"
    (click)="setWriteMode(true)"
    class="card-inner main-content"
  >
    <div class="n_votes" [style.background-color]="data.color">
      <span class="non-hidden-child">
        {{ data.votes }}
      </span>

      <span (click)="vote_action($event)" class="hidden-child">
        {{ vote ? "-" : "+" }}
      </span>
    </div>

    <img
      (click)="pickColor($event)"
      src="assets/icons/color_palette.svg"
      alt="color palette"
      class="icon color_palette"
    />
    <span class="card-text">{{ data.text }}</span>
  </div>

  <div [hidden]="!writemode" class="card-inner">
    <textarea
      type="textarea"
      #card_text
      name="card_text"
      [defaultValue]="data.text"
      (change)="edit_text($event)"
    ></textarea>
    <img
      (click)="delete($event)"
      src="assets/icons/delete.svg"
      alt="delete card"
      class="icon delete_btt"
    />
  </div>
</div>
