<link href="//db.onlinewebfonts.com/c/88d825431bfee24234c96a4170553e7f?family=FF+Mark" rel="stylesheet" type="text/css"/>

<div id="container">
  <img id="big-logo" src="assets/CriticalCards.svg">
  <div class="button-tray">
    <button [disabled]="!isMain() && mode!=1" (click)="mode=1"> new </button>
    <button class="alternative" [disabled]="!isMain() && mode!=2" (click)="mode=2"> join </button>
    <button class="info" (click)="openmodal()"> help </button>
  </div>
  <div class="button-tray" *ngIf="mode==1">
    <button class="affirmative" (click)="newPoker()"> poker </button>
    <button class="affirmative" (click)="newRetro()"> retro </button>
    <button (click)="mode=0"> cancel </button>
  </div>
  <div id="input-container" *ngIf="mode==2">
    <div id="input-card">
      <input id="sessionId" placeholder="session id" [(ngModel)]="sessionId"/>
      <div class="button-tray">
        <button class="affirmative" (click)="join(sessionId)"> join </button>
        <button (click)="mode=0"> cancel </button>
      </div>
    </div>
  </div>
</div>

<div id="helpmodal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closemodal()">&times;</span>
    <p><strong>Critical Cards</strong></p>
    <p>Welcome to Critical Cards! Click <u>New</u> to crete a new Retro Session or
      <u>Join</u> to join an existing one.</p>
    <p>Inside a Retro Session, you have lanes and you can create new ones. You can then add cards (colour-customizable) to these lanes and organize your work!  </p>
    <p>Poker Sessions will soon be available.</p>
  </div>
</div>
